/* 
font-family: 'Oswald', sans-serif;
font-family: 'Kalam', cursive; 
font-family: 'Montserrat', sans-serif;
*/

article, section, div {
  display: block;
}

header {
  width: 960px;
  display:block;
  margin:auto;
  height: 45px;
  margin-bottom: 30px;
}

#logoSection {
  display: inline-block;
  width: 460;
}

#mainLogo {

  float:left;
  margin-top: 20px;
  margin-left: 3px;
}

#mediaLinks {
  float:right;

}

#mediaLinks ul li {
  display:inline;
  vertical-align: top; 
  margin-left: 1px;
  margin-right: 1px;
}

#mediaLinks ul li:nth-last-child(2){
  margin-left:15px;
}

#logoSection li:first-child {
  font-family: 'Yellowtail', cursive;
  font-weight: bold;
  font-style: italic;
  font-size: 20pt;
}

#logoSection li:last-child {
  font-family: 'Oswald', sans-serif;
  font-size: 8pt;
  color: gray;
}

header li {
  list-style-type: none;
  margin-left: 10px;  
}

#blogTitle {
  width: 960px;
  margin: auto;
  margin-bottom: 30px; 
}

#blogTitle div {
  display: inline-block;
}

#blogTitle li {
  list-style-type: none;
  font-family: 'Cousine', monospace;
  font-weight: bold;
  margin-left: 0;
}

#blogName {
  width: 460px;
  margin: auto;
}

#blogName ul {
  padding-left: 0px;
  line-height: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

#blogName li:last-child {
  float: left;
  color: gray;
  size: 10pt;
  margin-bottom: 10px;
}

#buttonContainer{
  width: 460px;
}

#printButton {
  color: gray;
  margin-bottom: 30px;
  margin-right: 0px;
  float: right; 
}

#hero {
  width: 100%;
}

#hero img {
  display: block;
  width:960px;
  margin: auto;
  
}

.breakline {
  clear: right; 
  background-image: url("../img/hr-img.png");
  background-repeat: repeat;
  width: 960px;
  height: 10px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 40px;
}


#recipeInstructions {
  width: 960px;
  margin: auto;
}

p {
  text-indent: 30px; 
}

#notePad {
  background-image: url("../img/list-bg.png");
  width: 960px; 
  margin: auto; 
}

#notePad section {
  display: inline-block;
  width: 430px;
  margin-left: 30px;
}

#notepad section li {
  list-style-type: square;
}

#outerBox {
  width: 960px;
  margin: auto;
}

#vanessaPic {
  display: inline-block;
}

#vanessaBio {
  display: inline-block;
  width: 300px;
  list-style-type: none; 
}

#vanessaBio li:first-child {
  font-weight: bold;
  font-family: 'Pacifico', cursive;
  font-size: 20pt; 
}


#share  {
  width: 250px;
  display: inline-block;
  color: white;
  background-color: red;
}
